USE [PSDATAFEB2024]
GO
/****** Object:  Table [dbo].[tipo_comprobantes]    Script Date: 2/17/2026 11:34:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_comprobantes](
	[tip_cod] [varchar](5) NOT NULL,
	[tip_nom] [varchar](100) NOT NULL,
	[tip_lon] [smallint] NOT NULL,
	[tip_cli] [smallint] NOT NULL,
	[tip_est] [char](1) NOT NULL,
	[fue_cod] [smallint] NOT NULL,
	[tip_con_sec] [decimal](12, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[tip_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factura]    Script Date: 2/17/2026 11:34:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura](
	[fac_sec] [decimal](12, 0) NOT NULL,
	[fac_fec] [datetime] NOT NULL,
	[fac_tip_cod] [varchar](5) NOT NULL,
	[nit_sec] [varchar](16) NULL,
	[fac_nro] [varchar](15) NULL,
	[fac_est_fac] [char](1) NULL,
	[fac_con_pag] [smallint] NULL,
	[fac_fec_ven] [datetime] NULL,
	[fac_dia_gar] [smallint] NULL,
	[fac_anu_sec] [decimal](12, 0) NULL,
	[fac_anu_obs] [varchar](1024) NULL,
	[fac_anu_fec] [datetime] NULL,
	[fac_confirmada] [smallint] NULL,
	[fac_obs] [varchar](1024) NULL,
	[fac_obs2] [varchar](1024) NULL,
	[fac_sec_dev] [decimal](12, 0) NULL,
	[f_tip_cod] [varchar](5) NULL,
	[fac_ctr_lin] [int] NULL,
	[fac_ped_woo] [varchar](1) NULL,
	[fac_nro_woo] [varchar](15) NULL,
	[fac_total_woo] [decimal](17, 2) NULL,
	[fac_status_woo] [varchar](40) NULL,
	[fac_usu_cod_mod] [varchar](100) NULL,
	[fac_fch_mod] [datetime] NULL,
	[fac_fch_cre] [datetime] NULL,
	[fac_usu_cod_cre] [varchar](100) NULL,
	[fac_nro_origen] [nvarchar](15) NULL,
	[fac_est_woo] [varchar](50) NULL,
	[fac_descuento_general] [decimal](17, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[fac_sec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facturakardes]    Script Date: 2/17/2026 11:34:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facturakardes](
	[fac_sec] [decimal](12, 0) NOT NULL,
	[kar_sec] [int] NOT NULL,
	[art_sec] [varchar](30) NOT NULL,
	[kar_bod_sec] [varchar](16) NOT NULL,
	[kar_uni] [decimal](17, 2) NULL,
	[kar_nat] [char](1) NULL,
	[kar_pre] [decimal](17, 2) NULL,
	[kar_pre_pub] [decimal](17, 2) NULL,
	[kar_des_uno] [decimal](11, 5) NULL,
	[kar_sub_tot] [decimal](17, 2) NULL,
	[kar_total] [decimal](17, 2) NULL,
	[kar_lis_pre_cod] [smallint] NULL,
	[kar_fac_sec_ori] [decimal](12, 0) NULL,
	[kar_kar_sec_ori] [int] NULL,
	[kar_sec_tip] [varchar](2) NULL,
	[kar_uni_sol] [decimal](17, 2) NULL,
	[art_sec_papa] [varchar](30) NULL,
	[kar_sec_papa] [int] NULL,
	[kar_woo_act] [nvarchar](1) NULL,
	[kar_pre_pub_detal] [decimal](17, 2) NULL,
	[kar_pre_pub_mayor] [decimal](17, 2) NULL,
	[kar_tiene_oferta] [char](1) NULL,
	[kar_precio_oferta] [decimal](17, 2) NULL,
	[kar_descuento_porcentaje] [decimal](5, 2) NULL,
	[kar_codigo_promocion] [varchar](20) NULL,
	[kar_descripcion_promocion] [varchar](200) NULL,
	[kar_bundle_padre] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[fac_sec] ASC,
	[kar_sec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwExistencias]    Script Date: 2/17/2026 11:34:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwExistencias]
WITH SCHEMABINDING
AS
SELECT 
    fk.art_sec,
    SUM(
         CASE 
             WHEN fk.kar_nat = '+' THEN ISNULL(fk.kar_uni, 0)
             WHEN fk.kar_nat = '-' THEN -ISNULL(fk.kar_uni, 0)
             ELSE 0
         END
    ) AS existencia,
    COUNT_BIG(*) AS count_big
FROM dbo.facturakardes AS fk
    INNER JOIN dbo.factura AS f 
        ON fk.fac_sec = f.fac_sec
    INNER JOIN dbo.tipo_comprobantes AS tc 
        ON f.f_tip_cod = tc.tip_cod
WHERE 
    f.fac_est_fac = 'A'        -- Solo se consideran facturas Activas
    AND tc.fue_cod <> 4        -- Excluir fuente 4
GROUP BY fk.art_sec;

GO
/****** Object:  Table [dbo].[articulos_ai_content]    Script Date: 2/17/2026 11:34:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[articulos_ai_content](
	[ai_sec] [int] IDENTITY(1,1) NOT NULL,
	[art_sec] [varchar](30) NOT NULL,
	[ai_tipo] [varchar](20) NOT NULL,
	[ai_contenido] [text] NOT NULL,
	[ai_version] [int] NOT NULL,
	[ai_estado] [char](1) NULL,
	[ai_idioma] [varchar](5) NULL,
	[ai_modelo] [varchar](50) NOT NULL,
	[ai_prompt_hash] [varchar](64) NULL,
	[ai_tokens_usados] [int] NULL,
	[ai_costo_usd] [decimal](10, 6) NULL,
	[ai_fecha_generacion] [datetime] NULL,
	[ai_usuario_aprobador] [varchar](20) NULL,
	[ai_fecha_aprobacion] [datetime] NULL,
	[ai_comentarios] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ai_sec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ai_content_version] UNIQUE NONCLUSTERED 
(
	[art_sec] ASC,
	[ai_tipo] ASC,
	[ai_version] ASC,
	[ai_idioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[articulos]    Script Date: 2/17/2026 11:34:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[articulos](
	[art_sec] [varchar](30) NOT NULL,
	[art_cod] [varchar](30) NOT NULL,
	[art_nom] [varchar](100) NOT NULL,
	[art_img] [varchar](200) NULL,
	[inv_sub_gru_cod] [smallint] NOT NULL,
	[pre_sec] [varchar](16) NOT NULL,
	[art_img_cat] [varbinary](max) NULL,
	[art_actualizado] [varchar](1) NULL,
	[art_woo_id] [int] NULL,
	[art_img_name] [varchar](100) NULL,
	[art_img_ext] [varchar](100) NULL,
	[art_url_img_servi] [varchar](1000) NULL,
	[art_url_img_woo] [varchar](1000) NULL,
	[art_url_img_azure] [varchar](1000) NULL,
	[art_fch_act_woo] [datetime] NULL,
	[art_fch_mod] [datetime] NULL,
	[art_combo] [varchar](1) NULL,
	[art_combo_val] [decimal](18, 0) NULL,
	[art_desco] [varchar](1) NULL,
	[art_sec_padre] [varchar](30) NULL,
	[art_variable] [varchar](1) NULL,
	[art_val_liq] [decimal](17, 2) NULL,
	[art_woo_sync_status] [varchar](10) NULL,
	[art_woo_sync_message] [varchar](max) NULL,
	[art_woo_type] [varchar](20) NULL,
	[art_parent_woo_id] [int] NULL,
	[art_variation_attributes] [nvarchar](max) NULL,
	[art_woo_variation_id] [int] NULL,
	[art_bundle] [char](1) NULL,
	[art_optimizar_ia] [char](1) NULL,
	[art_tiene_contenido_ia] [char](1) NULL,
	[art_fecha_ultima_optimizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[art_sec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_articulos_contenido_ia_activo]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE VIEW [dbo].[vw_articulos_contenido_ia_activo] AS
    SELECT
        a.art_sec,
        a.art_cod,
        a.art_nom,
        aic.ai_tipo,
        aic.ai_contenido,
        aic.ai_version,
        aic.ai_modelo,
        aic.ai_idioma,
        aic.ai_fecha_generacion,
        aic.ai_usuario_aprobador
    FROM dbo.articulos a
    INNER JOIN dbo.articulos_ai_content aic ON a.art_sec = aic.art_sec
    WHERE aic.ai_estado = 'A'
      AND aic.ai_version = (
        SELECT MAX(ai_version)
        FROM dbo.articulos_ai_content
        WHERE art_sec = a.art_sec
          AND ai_tipo = aic.ai_tipo
          AND ai_idioma = aic.ai_idioma
          AND ai_estado = 'A'
      );
    
GO
/****** Object:  Table [dbo].[historial_costos]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historial_costos](
	[hc_id] [int] IDENTITY(1,1) NOT NULL,
	[hc_art_sec] [varchar](30) NOT NULL,
	[hc_fac_sec] [decimal](12, 0) NULL,
	[hc_fecha] [datetime] NOT NULL,
	[hc_tipo_mov] [varchar](20) NOT NULL,
	[hc_cantidad_antes] [decimal](17, 2) NOT NULL,
	[hc_costo_antes] [decimal](17, 2) NOT NULL,
	[hc_valor_antes] [decimal](17, 2) NOT NULL,
	[hc_cantidad_mov] [decimal](17, 2) NOT NULL,
	[hc_costo_mov] [decimal](17, 2) NOT NULL,
	[hc_valor_mov] [decimal](17, 2) NOT NULL,
	[hc_cantidad_despues] [decimal](17, 2) NOT NULL,
	[hc_costo_despues] [decimal](17, 2) NOT NULL,
	[hc_valor_despues] [decimal](17, 2) NOT NULL,
	[hc_usu_cod] [varchar](100) NULL,
	[hc_observaciones] [varchar](500) NULL,
 CONSTRAINT [PK_historial_costos] PRIMARY KEY CLUSTERED 
(
	[hc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[articulosdetalle]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[articulosdetalle](
	[art_sec] [varchar](30) NOT NULL,
	[bod_sec] [varchar](16) NOT NULL,
	[lis_pre_cod] [smallint] NOT NULL,
	[art_bod_exi] [decimal](17, 2) NULL,
	[art_bod_pre] [decimal](17, 2) NULL,
	[art_bod_pre_des] [decimal](17, 2) NULL,
	[art_bod_fec_ini] [datetime] NULL,
	[art_bod_fec_fin] [datetime] NULL,
	[art_promo] [char](1) NULL,
	[art_bod_cos_cat] [decimal](17, 2) NULL,
	[rentabilidad]  AS (case when [art_bod_pre]>(0) AND [art_bod_cos_cat] IS NOT NULL then CONVERT([decimal](5,2),(([art_bod_pre]-[art_bod_cos_cat])/[art_bod_pre])*(100)) else (0) end) PERSISTED,
	[margen_ganancia]  AS (case when [art_bod_cos_cat]>(0) AND [art_bod_pre] IS NOT NULL then CONVERT([decimal](5,2),(([art_bod_pre]-[art_bod_cos_cat])/[art_bod_cos_cat])*(100)) else (0) end) PERSISTED,
	[utilidad_bruta]  AS (case when [art_bod_pre] IS NOT NULL AND [art_bod_cos_cat] IS NOT NULL then CONVERT([decimal](17,2),[art_bod_pre]-[art_bod_cos_cat]) else (0) end) PERSISTED,
	[clasificacion_rentabilidad]  AS (case when [art_bod_pre]>(0) AND [art_bod_cos_cat] IS NOT NULL then case when (([art_bod_pre]-[art_bod_cos_cat])/[art_bod_pre])*(100)>=(40) then 'ALTA' when (([art_bod_pre]-[art_bod_cos_cat])/[art_bod_pre])*(100)>=(20) then 'MEDIA' when (([art_bod_pre]-[art_bod_cos_cat])/[art_bod_pre])*(100)>=(10) then 'BAJA' when (([art_bod_pre]-[art_bod_cos_cat])/[art_bod_pre])*(100)>=(0) then 'MINIMA' else 'PERDIDA' end else 'N/A' end) PERSISTED NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[art_sec] ASC,
	[bod_sec] ASC,
	[lis_pre_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwCostosActuales]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vwCostosActuales]
AS
WITH UltimosCostos AS (
    SELECT
        hc_art_sec,
        hc_costo_despues,
        hc_cantidad_despues,
        hc_valor_despues,
        hc_fecha,
        hc_tipo_mov,
        hc_observaciones,
        ROW_NUMBER() OVER (PARTITION BY hc_art_sec ORDER BY hc_fecha DESC) AS rn
    FROM dbo.historial_costos
)
SELECT
    a.art_sec,
    a.art_cod,
    a.art_nom,
    uc.hc_costo_despues AS costo_promedio_actual,
    uc.hc_cantidad_despues AS existencia_calculada,
    ve.existencia AS existencia_sistema,
    CASE
        WHEN ISNULL(ve.existencia, 0) <> uc.hc_cantidad_despues
        THEN 'DESCUADRADO'
        ELSE 'OK'
    END AS estado_inventario,
    uc.hc_valor_despues AS valor_inventario,
    uc.hc_fecha AS fecha_ultimo_calculo,
    uc.hc_tipo_mov AS ultimo_movimiento,
    uc.hc_observaciones AS ultimo_documento,
    ad_detal.art_bod_pre AS precio_venta_detal,
    ad_mayor.art_bod_pre AS precio_venta_mayor,
    CASE
        WHEN ad_detal.art_bod_pre > 0 AND uc.hc_costo_despues > 0
        THEN ROUND(((ad_detal.art_bod_pre - uc.hc_costo_despues) / ad_detal.art_bod_pre) * 100, 2)
        ELSE NULL
    END AS margen_detal_porcentaje,
    CASE
        WHEN ad_mayor.art_bod_pre > 0 AND uc.hc_costo_despues > 0
        THEN ROUND(((ad_mayor.art_bod_pre - uc.hc_costo_despues) / ad_mayor.art_bod_pre) * 100, 2)
        ELSE NULL
    END AS margen_mayor_porcentaje
FROM UltimosCostos uc
INNER JOIN dbo.articulos a ON a.art_sec = uc.hc_art_sec
LEFT JOIN dbo.vwExistencias ve ON ve.art_sec = uc.hc_art_sec
LEFT JOIN dbo.articulosdetalle ad_detal ON ad_detal.art_sec = uc.hc_art_sec
    AND ad_detal.bod_sec = '1' AND ad_detal.lis_pre_cod = 1
LEFT JOIN dbo.articulosdetalle ad_mayor ON ad_mayor.art_sec = uc.hc_art_sec
    AND ad_mayor.bod_sec = '1' AND ad_mayor.lis_pre_cod = 2
WHERE uc.rn = 1;

GO
/****** Object:  View [dbo].[vwCostoPromedioArticulos]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vwCostoPromedioArticulos] AS
SELECT
    a.art_sec,
    a.art_cod,
    a.art_nom,
    ISNULL(ad.art_bod_cos_cat, 0) AS costo_promedio,
    ISNULL(ve.existencia, 0) AS existencia,
    ISNULL(ad.art_bod_cos_cat, 0) * ISNULL(ve.existencia, 0) AS valor_inventario,
    ISNULL(ad_detal.art_bod_pre, 0) AS precio_venta_detal,
    ISNULL(ad_mayor.art_bod_pre, 0) AS precio_venta_mayor,
    -- Calcular márgenes
    CASE
        WHEN ISNULL(ad_detal.art_bod_pre, 0) > 0
        THEN ((ad_detal.art_bod_pre - ISNULL(ad.art_bod_cos_cat, 0)) / ad_detal.art_bod_pre * 100)
        ELSE 0
    END AS margen_detal,
    CASE
        WHEN ISNULL(ad_mayor.art_bod_pre, 0) > 0
        THEN ((ad_mayor.art_bod_pre - ISNULL(ad.art_bod_cos_cat, 0)) / ad_mayor.art_bod_pre * 100)
        ELSE 0
    END AS margen_mayor
FROM dbo.articulos a
LEFT JOIN dbo.articulosdetalle ad ON ad.art_sec = a.art_sec
    AND ad.bod_sec = '1' AND ad.lis_pre_cod = 1
LEFT JOIN dbo.articulosdetalle ad_detal ON ad_detal.art_sec = a.art_sec
    AND ad_detal.bod_sec = '1' AND ad_detal.lis_pre_cod = 1
LEFT JOIN dbo.articulosdetalle ad_mayor ON ad_mayor.art_sec = a.art_sec
    AND ad_mayor.bod_sec = '1' AND ad_mayor.lis_pre_cod = 2
LEFT JOIN dbo.vwExistencias ve ON ve.art_sec = a.art_sec

GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[usu_cod] [varchar](100) NOT NULL,
	[usu_nom] [varchar](40) NOT NULL,
	[usu_email] [varchar](40) NOT NULL,
	[usu_pass] [varchar](100) NULL,
	[usu_cambia_pass] [numeric](1, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[usu_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[rol_id] [int] IDENTITY(1,1) NOT NULL,
	[rol_nombre] [varchar](50) NOT NULL,
	[rol_descripcion] [varchar](200) NULL,
	[rol_activo] [bit] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuariosRoles]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuariosRoles](
	[usurol_id] [int] IDENTITY(1,1) NOT NULL,
	[usu_cod] [varchar](100) NOT NULL,
	[rol_id] [int] NOT NULL,
	[fecha_asignacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usurol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modulos]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modulos](
	[mod_id] [int] IDENTITY(1,1) NOT NULL,
	[mod_codigo] [varchar](50) NOT NULL,
	[mod_nombre] [varchar](100) NOT NULL,
	[mod_descripcion] [varchar](200) NULL,
	[mod_activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[mod_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Modulos_Codigo] UNIQUE NONCLUSTERED 
(
	[mod_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Acciones]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acciones](
	[acc_id] [int] IDENTITY(1,1) NOT NULL,
	[mod_id] [int] NOT NULL,
	[acc_codigo] [varchar](50) NOT NULL,
	[acc_nombre] [varchar](100) NOT NULL,
	[acc_descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[acc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Acciones_ModCodigo] UNIQUE NONCLUSTERED 
(
	[mod_id] ASC,
	[acc_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesPermisos]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesPermisos](
	[rolperm_id] [int] IDENTITY(1,1) NOT NULL,
	[rol_id] [int] NOT NULL,
	[mod_id] [int] NOT NULL,
	[acceso] [bit] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_modificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[rolperm_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_RolesPermisos_RolMod] UNIQUE NONCLUSTERED 
(
	[rol_id] ASC,
	[mod_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolesPermisosAcciones]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolesPermisosAcciones](
	[rolpermacc_id] [int] IDENTITY(1,1) NOT NULL,
	[rolperm_id] [int] NOT NULL,
	[acc_id] [int] NOT NULL,
	[permitido] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[rolpermacc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_RolesPermisosAcciones_PermAcc] UNIQUE NONCLUSTERED 
(
	[rolperm_id] ASC,
	[acc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_UsuarioPermisos]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_UsuarioPermisos] AS
SELECT 
    u.usu_cod,
    u.usu_nom,
    r.rol_id,
    r.rol_nombre,
    m.mod_codigo,
    m.mod_nombre,
    rp.acceso AS modulo_acceso,
    a.acc_codigo,
    a.acc_nombre,
    rpa.permitido AS accion_permitida
FROM 
    [dbo].[Usuarios] u
JOIN 
    [dbo].[UsuariosRoles] ur ON u.usu_cod = ur.usu_cod
JOIN 
    [dbo].[Roles] r ON ur.rol_id = r.rol_id
JOIN 
    [dbo].[RolesPermisos] rp ON r.rol_id = rp.rol_id
JOIN 
    [dbo].[Modulos] m ON rp.mod_id = m.mod_id
JOIN 
    [dbo].[RolesPermisosAcciones] rpa ON rp.rolperm_id = rpa.rolperm_id
JOIN 
    [dbo].[Acciones] a ON rpa.acc_id = a.acc_id
WHERE 
    r.rol_activo = 1 AND m.mod_activo = 1 AND rp.acceso = 1 AND rpa.permitido = 1
GO
/****** Object:  Table [dbo].[ai_usage_log]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ai_usage_log](
	[log_sec] [int] IDENTITY(1,1) NOT NULL,
	[ai_sec] [int] NULL,
	[log_evento] [varchar](50) NULL,
	[log_modelo] [varchar](50) NULL,
	[log_tokens_input] [int] NULL,
	[log_tokens_output] [int] NULL,
	[log_costo_usd] [decimal](10, 6) NULL,
	[log_latencia_ms] [int] NULL,
	[log_error] [text] NULL,
	[log_usuario] [varchar](20) NULL,
	[log_fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_sec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArtExi]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArtExi](
	[ArtExiCod] [varchar](30) NOT NULL,
	[ArtExiExi] [decimal](17, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ArtExiCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArticuloHook]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticuloHook](
	[ArtHookCod] [nvarchar](30) NOT NULL,
	[ArtHooName] [nvarchar](100) NOT NULL,
	[ArtHooStok] [int] NOT NULL,
	[ArtHookMayor] [decimal](18, 0) NOT NULL,
	[ArtHookDetal] [decimal](18, 0) NOT NULL,
	[ArtHookFchCrea] [datetime] NOT NULL,
	[ArtHookFchHra] [datetime] NOT NULL,
	[ArtHookFchMod] [datetime] NULL,
	[ArtHookFchHraMod] [datetime] NULL,
	[ArtHooStockSys] [int] NULL,
	[ArtHookActualizado] [nvarchar](1) NULL,
	[ArtHookCatSysCod] [nvarchar](20) NULL,
	[ArtHookCatSysNombre] [nvarchar](100) NULL,
	[ArtHookSubcatSysCod] [nvarchar](20) NULL,
	[ArtHookSubcatSysNombre] [nvarchar](100) NULL,
	[ArtHookCatWooId] [int] NULL,
	[ArtHookCatWooNombre] [nvarchar](100) NULL,
	[ArtHookSubcatWooId] [int] NULL,
	[ArtHookSubcatWooNombre] [nvarchar](100) NULL,
	[ArtHookCategoriaMatch] [bit] NULL,
	[ArtHookCatFechaVerificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ArtHookCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[articulosArmado]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[articulosArmado](
	[art_sec] [varchar](30) NOT NULL,
	[ComArtSec] [varchar](30) NOT NULL,
	[ConKarUni] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[art_sec] ASC,
	[ComArtSec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArticulosWoo]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticulosWoo](
	[ArtWooCod] [varchar](30) NOT NULL,
	[ArtWooExi] [decimal](17, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ArtWooCod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bodegas]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bodegas](
	[bod_sec] [varchar](16) NOT NULL,
	[bod_cod] [varchar](16) NOT NULL,
	[bod_nom] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bod_sec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carga_inicial_costos]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carga_inicial_costos](
	[cic_id] [int] IDENTITY(1,1) NOT NULL,
	[cic_art_sec] [varchar](30) NOT NULL,
	[cic_art_cod] [varchar](30) NULL,
	[cic_art_nom] [varchar](100) NULL,
	[cic_existencia] [decimal](17, 2) NULL,
	[cic_precio_venta_detal] [decimal](17, 2) NULL,
	[cic_precio_venta_mayor] [decimal](17, 2) NULL,
	[cic_costo_propuesto] [decimal](17, 2) NOT NULL,
	[cic_metodo_calculo] [varchar](50) NULL,
	[cic_margen_resultante_detal] [decimal](5, 2) NULL,
	[cic_margen_resultante_mayor] [decimal](5, 2) NULL,
	[cic_estado] [varchar](20) NOT NULL,
	[cic_observaciones] [varchar](500) NULL,
	[cic_fecha_carga] [datetime] NOT NULL,
	[cic_usuario_carga] [varchar](100) NULL,
	[cic_fecha_validacion] [datetime] NULL,
	[cic_usuario_validacion] [varchar](100) NULL,
 CONSTRAINT [PK_carga_inicial_costos] PRIMARY KEY CLUSTERED 
(
	[cic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrito]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrito](
	[car_token] [varchar](100) NOT NULL,
	[car_crado] [datetime] NOT NULL,
	[car_actualizado] [datetime] NOT NULL,
	[car_bodega] [varchar](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[car_token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carritodetalle]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carritodetalle](
	[car_token] [varchar](100) NOT NULL,
	[car_art_cod] [varchar](30) NOT NULL,
	[car_art_qty] [smallint] NOT NULL,
	[car_vlr_uni] [decimal](18, 0) NULL,
	[car_vlr_total] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[car_token] ASC,
	[car_art_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriasWoo]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriasWoo](
	[CatWooSec] [smallint] IDENTITY(1,1) NOT NULL,
	[CatWooId] [decimal](10, 0) NOT NULL,
	[CatWooDesc] [varchar](40) NULL,
	[CatWooParendId] [decimal](10, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[CatWooSec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudad]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudad](
	[ciu_cod] [varchar](5) NOT NULL,
	[ciu_id] [varchar](5) NOT NULL,
	[ciu_nom] [varchar](100) NOT NULL,
	[dep_cod] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ciu_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[conceptos_anulacion]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conceptos_anulacion](
	[con_anu_sec] [decimal](12, 0) NOT NULL,
	[tip_cod] [varchar](5) NOT NULL,
	[con_anu_des] [varchar](60) NULL,
	[con_anu_est] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[con_anu_sec] ASC,
	[tip_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configuracion]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuracion](
	[ConSec] [int] NOT NULL,
	[ConUrlXampp] [varchar](250) NULL,
	[ConUrlInv] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ConSec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departamentos]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamentos](
	[dep_cod] [varchar](6) NOT NULL,
	[dep_id] [varchar](6) NOT NULL,
	[dep_nom] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dep_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[Emp_cod] [varchar](16) NOT NULL,
	[Emp_Dir] [varchar](100) NULL,
	[Emp_tel] [varchar](100) NULL,
	[Emp_logo] [varbinary](max) NULL,
	[Emp_logo_GXI] [varchar](2048) NULL,
	[emp_nit_sec] [varchar](16) NULL,
	[Emp_nom] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Emp_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[eventos_promocionales]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eventos_promocionales](
	[eve_sec] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[eve_nombre] [varchar](100) NOT NULL,
	[eve_fecha_inicio] [datetime] NOT NULL,
	[eve_fecha_fin] [datetime] NOT NULL,
	[eve_descuento_detal] [decimal](5, 2) NOT NULL,
	[eve_descuento_mayor] [decimal](5, 2) NOT NULL,
	[eve_activo] [char](1) NULL,
	[eve_observaciones] [varchar](500) NULL,
	[eve_fecha_creacion] [datetime] NULL,
	[eve_usuario_creacion] [varchar](50) NULL,
	[eve_fecha_modificacion] [datetime] NULL,
	[eve_usuario_modificacion] [varchar](50) NULL,
	[eve_monto_mayorista_minimo] [decimal](17, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[eve_sec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factura_pagoForpag]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura_pagoForpag](
	[fac_sec] [decimal](12, 0) NOT NULL,
	[fac_pag_sec] [int] NOT NULL,
	[Tip_for_cod] [varchar](6) NOT NULL,
	[fac_pag_fec] [datetime] NULL,
	[fac_pag_val] [decimal](17, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[fac_sec] ASC,
	[fac_pag_sec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factura_reciborecibos]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura_reciborecibos](
	[fac_sec] [decimal](12, 0) NOT NULL,
	[fac_rec_sec] [int] NOT NULL,
	[fac_rec_fec] [datetime] NULL,
	[fac_rec_val] [decimal](17, 2) NULL,
	[fac_rec_obs] [varchar](1024) NULL,
PRIMARY KEY CLUSTERED 
(
	[fac_sec] ASC,
	[fac_rec_sec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formapago]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formapago](
	[Tip_for_cod] [varchar](6) NOT NULL,
	[tip_for_nom] [varchar](50) NOT NULL,
	[tip_for_pag] [varchar](3) NOT NULL,
	[tip_for_est] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Tip_for_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fotos]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fotos](
	[FotoSec] [decimal](12, 0) NOT NULL,
	[FotoUrlTienda] [varchar](200) NULL,
	[FotoNombreFile] [varchar](200) NULL,
	[FotoExtension] [varchar](200) NULL,
	[FotoCodigo] [varchar](200) NULL,
	[FotoBlob] [varbinary](max) NULL,
	[FotoImg_GXI] [varchar](2048) NULL,
	[FotoImg] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[FotoSec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fuentes]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fuentes](
	[fue_cod] [smallint] NOT NULL,
	[fue_nom] [varchar](40) NOT NULL,
	[fue_est] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[fue_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventario_conteo]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventario_conteo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[bodega] [varchar](50) NOT NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventario_conteo_detalle]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventario_conteo_detalle](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[conteo_id] [int] NOT NULL,
	[articulo_codigo] [varchar](50) NOT NULL,
	[articulo_artsec] [varchar](50) NOT NULL,
	[cantidad_sistema] [decimal](18, 2) NOT NULL,
	[cantidad_fisica] [decimal](18, 2) NOT NULL,
	[diferencia] [decimal](18, 2) NOT NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventario_grupo]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventario_grupo](
	[inv_gru_cod] [varchar](16) NOT NULL,
	[inv_gru_id] [varchar](16) NOT NULL,
	[inv_gru_nom] [varchar](50) NOT NULL,
	[inv_gru_woo_id] [int] NULL,
	[inv_gru_est] [char](1) NULL,
	[inv_gru_orden] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[inv_gru_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventario_subgrupo]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventario_subgrupo](
	[inv_sub_gru_cod] [smallint] NOT NULL,
	[inv_gru_cod] [varchar](16) NOT NULL,
	[inv_sub_gru_id] [varchar](16) NOT NULL,
	[inv_sub_gru_nom] [varchar](40) NOT NULL,
	[inv_sub_gru_woo_id] [int] NULL,
	[inv_sub_gru_est] [char](1) NULL,
	[inv_sub_gru_parend_woo] [int] NULL,
	[inv_sub_gru_orden] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[inv_sub_gru_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[listas_precio]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[listas_precio](
	[lis_pre_cod] [smallint] NOT NULL,
	[lis_pre_nom] [varchar](40) NOT NULL,
	[lis_pre_est] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[lis_pre_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogEd]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogEd](
	[LogSec] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[LogDesc] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogSec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[LogsId] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[LogsResultado] [varchar](max) NOT NULL,
	[LogsFch] [datetime] NOT NULL,
	[LogsUrl] [varchar](1000) NOT NULL,
	[LogsFacSec] [decimal](12, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[MenuId] [varchar](500) NOT NULL,
	[MenuTitle] [varchar](500) NOT NULL,
	[MenuDescription] [varchar](500) NOT NULL,
	[MenuUrl] [varchar](500) NOT NULL,
	[MenuParentId] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nit]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nit](
	[nit_sec] [varchar](16) NOT NULL,
	[nit_ide] [varchar](16) NOT NULL,
	[nit_nom] [varchar](100) NOT NULL,
	[nit_tel] [varchar](20) NULL,
	[nit_email] [varchar](100) NULL,
	[nit_ind_cli] [varchar](1) NULL,
	[nit_ind_pro] [varchar](1) NULL,
	[nit_fec_cre] [datetime] NULL,
	[nit_dir] [varchar](100) NULL,
	[nit_con_pag] [smallint] NULL,
	[nit_bar] [varchar](100) NULL,
	[nit_ciudad] [varchar](100) NULL,
	[ciu_cod] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[nit_sec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parametros]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parametros](
	[par_cod] [varchar](20) NOT NULL,
	[par_value] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[par_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[presentaciones]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[presentaciones](
	[pre_sec] [varchar](16) NOT NULL,
	[pre_cod] [varchar](16) NOT NULL,
	[pre_nom] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pre_sec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto_fotos]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto_fotos](
	[id] [varchar](36) NOT NULL,
	[art_sec] [varchar](30) NULL,
	[nombre] [varchar](255) NULL,
	[url] [varchar](255) NULL,
	[tipo] [varchar](50) NULL,
	[tamanio] [int] NULL,
	[fecha_creacion] [datetime] NULL,
	[woo_photo_id] [varchar](36) NULL,
	[es_principal] [bit] NULL,
	[posicion] [int] NULL,
	[estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promociones]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promociones](
	[pro_sec] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[pro_codigo] [varchar](20) NOT NULL,
	[pro_descripcion] [varchar](200) NOT NULL,
	[pro_fecha_inicio] [datetime] NOT NULL,
	[pro_fecha_fin] [datetime] NOT NULL,
	[pro_activa] [char](1) NULL,
	[pro_tipo] [varchar](20) NULL,
	[pro_observaciones] [varchar](500) NULL,
	[pro_fecha_creacion] [datetime] NULL,
	[pro_usuario_creacion] [varchar](50) NULL,
	[pro_fecha_modificacion] [datetime] NULL,
	[pro_usuario_modificacion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[pro_sec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promociones_detalle]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promociones_detalle](
	[pro_det_sec] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[pro_sec] [decimal](18, 0) NOT NULL,
	[art_sec] [varchar](30) NOT NULL,
	[pro_det_precio_oferta] [decimal](17, 2) NOT NULL,
	[pro_det_descuento_porcentaje] [decimal](5, 2) NULL,
	[pro_det_observaciones] [varchar](200) NULL,
	[pro_det_fecha_creacion] [datetime] NULL,
	[pro_det_usuario_creacion] [varchar](50) NULL,
	[pro_det_estado] [char](1) NULL,
	[pro_det_fecha_modificacion] [datetime] NULL,
	[pro_det_usuario_modificacion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[pro_det_sec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pruebaBlob2]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pruebaBlob2](
	[pruebaId2] [smallint] IDENTITY(1,1) NOT NULL,
	[pruebaBlob2] [varbinary](max) NOT NULL,
	[pruebacodigo] [varchar](30) NULL,
	[pruebaBlobType] [varchar](40) NOT NULL,
	[pruebaBlobName] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pruebaId2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PruebaPrettyApi]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PruebaPrettyApi](
	[Prueba_api_id] [decimal](12, 0) IDENTITY(1,1) NOT NULL,
	[Prueba_api_desc] [varchar](max) NOT NULL,
	[Prueba_api_fec] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Prueba_api_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[secuencia]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[secuencia](
	[sec_cod] [varchar](15) NOT NULL,
	[sec_des] [varchar](40) NOT NULL,
	[sec_num] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sec_cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[woo_sync_batch_logs]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[woo_sync_batch_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[log_id] [int] NOT NULL,
	[batch_index] [int] NOT NULL,
	[batch_data] [nvarchar](max) NULL,
	[success_count] [int] NOT NULL,
	[error_count] [int] NOT NULL,
	[success_details] [nvarchar](max) NULL,
	[error_details] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[woo_sync_logs]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[woo_sync_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fac_nro_woo] [varchar](50) NULL,
	[fac_nro] [varchar](50) NULL,
	[total_items] [int] NULL,
	[success_count] [int] NULL,
	[error_count] [int] NULL,
	[skipped_count] [int] NULL,
	[duration] [float] NULL,
	[batches_processed] [int] NULL,
	[messages] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[status] [varchar](20) NULL,
	[error_details] [nvarchar](max) NULL,
	[product_updates] [nvarchar](max) NULL,
	[debug_logs] [nvarchar](max) NULL,
	[order_details] [nvarchar](max) NULL,
	[config] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WooArticulos]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WooArticulos](
	[WooArtSec] [decimal](10, 0) NOT NULL,
	[WooArtCod] [varchar](30) NOT NULL,
	[WooArtNom] [varchar](60) NOT NULL,
	[WooPrecio] [decimal](12, 0) NOT NULL,
	[WooImagen] [varchar](1) NOT NULL,
	[WooFechaCheck] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WooArtSec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WWP_Parameter]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WWP_Parameter](
	[WWPParameterKey] [nvarchar](300) NOT NULL,
	[WWPParameterCategory] [nvarchar](200) NOT NULL,
	[WWPParameterDescription] [nvarchar](200) NOT NULL,
	[WWPParameterValue] [nvarchar](max) NOT NULL,
	[WWPParameterDisableDelete] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WWPParameterKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ai_usage_log] ADD  DEFAULT (getdate()) FOR [log_fecha]
GO
ALTER TABLE [dbo].[articulos] ADD  CONSTRAINT [DF_articulos_art_woo_type]  DEFAULT ('simple') FOR [art_woo_type]
GO
ALTER TABLE [dbo].[articulos] ADD  DEFAULT ('N') FOR [art_bundle]
GO
ALTER TABLE [dbo].[articulos] ADD  DEFAULT ('N') FOR [art_optimizar_ia]
GO
ALTER TABLE [dbo].[articulos] ADD  DEFAULT ('N') FOR [art_tiene_contenido_ia]
GO
ALTER TABLE [dbo].[articulos_ai_content] ADD  DEFAULT ((1)) FOR [ai_version]
GO
ALTER TABLE [dbo].[articulos_ai_content] ADD  DEFAULT ('P') FOR [ai_estado]
GO
ALTER TABLE [dbo].[articulos_ai_content] ADD  DEFAULT ('es') FOR [ai_idioma]
GO
ALTER TABLE [dbo].[articulos_ai_content] ADD  DEFAULT ((0)) FOR [ai_tokens_usados]
GO
ALTER TABLE [dbo].[articulos_ai_content] ADD  DEFAULT ((0)) FOR [ai_costo_usd]
GO
ALTER TABLE [dbo].[articulos_ai_content] ADD  DEFAULT (getdate()) FOR [ai_fecha_generacion]
GO
ALTER TABLE [dbo].[carga_inicial_costos] ADD  DEFAULT ('PENDIENTE') FOR [cic_estado]
GO
ALTER TABLE [dbo].[carga_inicial_costos] ADD  DEFAULT (getdate()) FOR [cic_fecha_carga]
GO
ALTER TABLE [dbo].[eventos_promocionales] ADD  DEFAULT ('S') FOR [eve_activo]
GO
ALTER TABLE [dbo].[eventos_promocionales] ADD  DEFAULT (getdate()) FOR [eve_fecha_creacion]
GO
ALTER TABLE [dbo].[factura] ADD  DEFAULT ((0)) FOR [fac_descuento_general]
GO
ALTER TABLE [dbo].[facturakardes] ADD  DEFAULT ('N') FOR [kar_tiene_oferta]
GO
ALTER TABLE [dbo].[facturakardes] ADD  DEFAULT (NULL) FOR [kar_bundle_padre]
GO
ALTER TABLE [dbo].[historial_costos] ADD  DEFAULT (getdate()) FOR [hc_fecha]
GO
ALTER TABLE [dbo].[inventario_conteo] ADD  DEFAULT ('PENDIENTE') FOR [estado]
GO
ALTER TABLE [dbo].[inventario_conteo_detalle] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Modulos] ADD  DEFAULT ((1)) FOR [mod_activo]
GO
ALTER TABLE [dbo].[producto_fotos] ADD  DEFAULT ((0)) FOR [es_principal]
GO
ALTER TABLE [dbo].[producto_fotos] ADD  DEFAULT ('temp') FOR [estado]
GO
ALTER TABLE [dbo].[promociones] ADD  DEFAULT ('S') FOR [pro_activa]
GO
ALTER TABLE [dbo].[promociones] ADD  DEFAULT ('OFERTA') FOR [pro_tipo]
GO
ALTER TABLE [dbo].[promociones] ADD  DEFAULT (getdate()) FOR [pro_fecha_creacion]
GO
ALTER TABLE [dbo].[promociones_detalle] ADD  DEFAULT (getdate()) FOR [pro_det_fecha_creacion]
GO
ALTER TABLE [dbo].[promociones_detalle] ADD  DEFAULT ('A') FOR [pro_det_estado]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [rol_activo]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[RolesPermisos] ADD  DEFAULT ((0)) FOR [acceso]
GO
ALTER TABLE [dbo].[RolesPermisos] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[RolesPermisosAcciones] ADD  DEFAULT ((0)) FOR [permitido]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((0)) FOR [usu_cambia_pass]
GO
ALTER TABLE [dbo].[UsuariosRoles] ADD  DEFAULT (getdate()) FOR [fecha_asignacion]
GO
ALTER TABLE [dbo].[woo_sync_batch_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[woo_sync_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Acciones]  WITH CHECK ADD  CONSTRAINT [FK_Acciones_Modulos] FOREIGN KEY([mod_id])
REFERENCES [dbo].[Modulos] ([mod_id])
GO
ALTER TABLE [dbo].[Acciones] CHECK CONSTRAINT [FK_Acciones_Modulos]
GO
ALTER TABLE [dbo].[ai_usage_log]  WITH CHECK ADD  CONSTRAINT [FK_usage_log_ai_content] FOREIGN KEY([ai_sec])
REFERENCES [dbo].[articulos_ai_content] ([ai_sec])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ai_usage_log] CHECK CONSTRAINT [FK_usage_log_ai_content]
GO
ALTER TABLE [dbo].[articulos]  WITH CHECK ADD  CONSTRAINT [IARTICULOS1] FOREIGN KEY([inv_sub_gru_cod])
REFERENCES [dbo].[inventario_subgrupo] ([inv_sub_gru_cod])
GO
ALTER TABLE [dbo].[articulos] CHECK CONSTRAINT [IARTICULOS1]
GO
ALTER TABLE [dbo].[articulos]  WITH CHECK ADD  CONSTRAINT [IARTICULOS2] FOREIGN KEY([pre_sec])
REFERENCES [dbo].[presentaciones] ([pre_sec])
GO
ALTER TABLE [dbo].[articulos] CHECK CONSTRAINT [IARTICULOS2]
GO
ALTER TABLE [dbo].[articulos_ai_content]  WITH CHECK ADD  CONSTRAINT [FK_ai_content_articulos] FOREIGN KEY([art_sec])
REFERENCES [dbo].[articulos] ([art_sec])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[articulos_ai_content] CHECK CONSTRAINT [FK_ai_content_articulos]
GO
ALTER TABLE [dbo].[articulosArmado]  WITH CHECK ADD  CONSTRAINT [IARTICULOSARMADO1] FOREIGN KEY([art_sec])
REFERENCES [dbo].[articulos] ([art_sec])
GO
ALTER TABLE [dbo].[articulosArmado] CHECK CONSTRAINT [IARTICULOSARMADO1]
GO
ALTER TABLE [dbo].[articulosArmado]  WITH CHECK ADD  CONSTRAINT [IARTICULOSARMADO2] FOREIGN KEY([ComArtSec])
REFERENCES [dbo].[articulos] ([art_sec])
GO
ALTER TABLE [dbo].[articulosArmado] CHECK CONSTRAINT [IARTICULOSARMADO2]
GO
ALTER TABLE [dbo].[articulosdetalle]  WITH CHECK ADD  CONSTRAINT [IARTICULOSDETALLE1] FOREIGN KEY([lis_pre_cod])
REFERENCES [dbo].[listas_precio] ([lis_pre_cod])
GO
ALTER TABLE [dbo].[articulosdetalle] CHECK CONSTRAINT [IARTICULOSDETALLE1]
GO
ALTER TABLE [dbo].[articulosdetalle]  WITH CHECK ADD  CONSTRAINT [IARTICULOSDETALLE2] FOREIGN KEY([bod_sec])
REFERENCES [dbo].[bodegas] ([bod_sec])
GO
ALTER TABLE [dbo].[articulosdetalle] CHECK CONSTRAINT [IARTICULOSDETALLE2]
GO
ALTER TABLE [dbo].[articulosdetalle]  WITH CHECK ADD  CONSTRAINT [IARTICULOSDETALLE3] FOREIGN KEY([art_sec])
REFERENCES [dbo].[articulos] ([art_sec])
GO
ALTER TABLE [dbo].[articulosdetalle] CHECK CONSTRAINT [IARTICULOSDETALLE3]
GO
ALTER TABLE [dbo].[carga_inicial_costos]  WITH CHECK ADD  CONSTRAINT [FK_carga_inicial_costos_articulos] FOREIGN KEY([cic_art_sec])
REFERENCES [dbo].[articulos] ([art_sec])
GO
ALTER TABLE [dbo].[carga_inicial_costos] CHECK CONSTRAINT [FK_carga_inicial_costos_articulos]
GO
ALTER TABLE [dbo].[Carritodetalle]  WITH CHECK ADD  CONSTRAINT [ICARRITODETALLE1] FOREIGN KEY([car_token])
REFERENCES [dbo].[Carrito] ([car_token])
GO
ALTER TABLE [dbo].[Carritodetalle] CHECK CONSTRAINT [ICARRITODETALLE1]
GO
ALTER TABLE [dbo].[Ciudad]  WITH CHECK ADD  CONSTRAINT [ICIUDAD1] FOREIGN KEY([dep_cod])
REFERENCES [dbo].[Departamentos] ([dep_cod])
GO
ALTER TABLE [dbo].[Ciudad] CHECK CONSTRAINT [ICIUDAD1]
GO
ALTER TABLE [dbo].[conceptos_anulacion]  WITH CHECK ADD  CONSTRAINT [ICONCEPTOS_ANULACION1] FOREIGN KEY([tip_cod])
REFERENCES [dbo].[tipo_comprobantes] ([tip_cod])
GO
ALTER TABLE [dbo].[conceptos_anulacion] CHECK CONSTRAINT [ICONCEPTOS_ANULACION1]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [IEMPRESA1] FOREIGN KEY([emp_nit_sec])
REFERENCES [dbo].[nit] ([nit_sec])
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [IEMPRESA1]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [IFACTURA1] FOREIGN KEY([nit_sec])
REFERENCES [dbo].[nit] ([nit_sec])
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [IFACTURA1]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [IFACTURA2] FOREIGN KEY([f_tip_cod])
REFERENCES [dbo].[tipo_comprobantes] ([tip_cod])
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [IFACTURA2]
GO
ALTER TABLE [dbo].[factura_pagoForpag]  WITH CHECK ADD  CONSTRAINT [IFACTURA_PAGOFORPAG1] FOREIGN KEY([Tip_for_cod])
REFERENCES [dbo].[Formapago] ([Tip_for_cod])
GO
ALTER TABLE [dbo].[factura_pagoForpag] CHECK CONSTRAINT [IFACTURA_PAGOFORPAG1]
GO
ALTER TABLE [dbo].[factura_pagoForpag]  WITH CHECK ADD  CONSTRAINT [IFACTURA_PAGOFORPAG2] FOREIGN KEY([fac_sec])
REFERENCES [dbo].[factura] ([fac_sec])
GO
ALTER TABLE [dbo].[factura_pagoForpag] CHECK CONSTRAINT [IFACTURA_PAGOFORPAG2]
GO
ALTER TABLE [dbo].[factura_reciborecibos]  WITH CHECK ADD  CONSTRAINT [IFACTURA_RECIBORECIBOS1] FOREIGN KEY([fac_sec])
REFERENCES [dbo].[factura] ([fac_sec])
GO
ALTER TABLE [dbo].[factura_reciborecibos] CHECK CONSTRAINT [IFACTURA_RECIBORECIBOS1]
GO
ALTER TABLE [dbo].[facturakardes]  WITH CHECK ADD  CONSTRAINT [FK_facturakardes_bundle_padre] FOREIGN KEY([kar_bundle_padre])
REFERENCES [dbo].[articulos] ([art_sec])
GO
ALTER TABLE [dbo].[facturakardes] CHECK CONSTRAINT [FK_facturakardes_bundle_padre]
GO
ALTER TABLE [dbo].[facturakardes]  WITH CHECK ADD  CONSTRAINT [IFACTURAKARDES1] FOREIGN KEY([art_sec])
REFERENCES [dbo].[articulos] ([art_sec])
GO
ALTER TABLE [dbo].[facturakardes] CHECK CONSTRAINT [IFACTURAKARDES1]
GO
ALTER TABLE [dbo].[facturakardes]  WITH CHECK ADD  CONSTRAINT [IFACTURAKARDES2] FOREIGN KEY([fac_sec])
REFERENCES [dbo].[factura] ([fac_sec])
GO
ALTER TABLE [dbo].[facturakardes] CHECK CONSTRAINT [IFACTURAKARDES2]
GO
ALTER TABLE [dbo].[historial_costos]  WITH CHECK ADD  CONSTRAINT [FK_historial_costos_articulos] FOREIGN KEY([hc_art_sec])
REFERENCES [dbo].[articulos] ([art_sec])
GO
ALTER TABLE [dbo].[historial_costos] CHECK CONSTRAINT [FK_historial_costos_articulos]
GO
ALTER TABLE [dbo].[historial_costos]  WITH CHECK ADD  CONSTRAINT [FK_historial_costos_factura] FOREIGN KEY([hc_fac_sec])
REFERENCES [dbo].[factura] ([fac_sec])
GO
ALTER TABLE [dbo].[historial_costos] CHECK CONSTRAINT [FK_historial_costos_factura]
GO
ALTER TABLE [dbo].[inventario_conteo_detalle]  WITH CHECK ADD FOREIGN KEY([conteo_id])
REFERENCES [dbo].[inventario_conteo] ([id])
GO
ALTER TABLE [dbo].[inventario_subgrupo]  WITH CHECK ADD  CONSTRAINT [IINVENTARIO_SUBGRUPO1] FOREIGN KEY([inv_gru_cod])
REFERENCES [dbo].[inventario_grupo] ([inv_gru_cod])
GO
ALTER TABLE [dbo].[inventario_subgrupo] CHECK CONSTRAINT [IINVENTARIO_SUBGRUPO1]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [IMENU1] FOREIGN KEY([MenuParentId])
REFERENCES [dbo].[Menu] ([MenuId])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [IMENU1]
GO
ALTER TABLE [dbo].[nit]  WITH CHECK ADD  CONSTRAINT [INIT1] FOREIGN KEY([ciu_cod])
REFERENCES [dbo].[Ciudad] ([ciu_cod])
GO
ALTER TABLE [dbo].[nit] CHECK CONSTRAINT [INIT1]
GO
ALTER TABLE [dbo].[producto_fotos]  WITH CHECK ADD FOREIGN KEY([art_sec])
REFERENCES [dbo].[articulos] ([art_sec])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[promociones_detalle]  WITH CHECK ADD  CONSTRAINT [FK_PromocionesDetalle_Articulos] FOREIGN KEY([art_sec])
REFERENCES [dbo].[articulos] ([art_sec])
GO
ALTER TABLE [dbo].[promociones_detalle] CHECK CONSTRAINT [FK_PromocionesDetalle_Articulos]
GO
ALTER TABLE [dbo].[promociones_detalle]  WITH CHECK ADD  CONSTRAINT [FK_PromocionesDetalle_Promociones] FOREIGN KEY([pro_sec])
REFERENCES [dbo].[promociones] ([pro_sec])
GO
ALTER TABLE [dbo].[promociones_detalle] CHECK CONSTRAINT [FK_PromocionesDetalle_Promociones]
GO
ALTER TABLE [dbo].[RolesPermisos]  WITH CHECK ADD  CONSTRAINT [FK_RolesPermisos_Modulos] FOREIGN KEY([mod_id])
REFERENCES [dbo].[Modulos] ([mod_id])
GO
ALTER TABLE [dbo].[RolesPermisos] CHECK CONSTRAINT [FK_RolesPermisos_Modulos]
GO
ALTER TABLE [dbo].[RolesPermisos]  WITH CHECK ADD  CONSTRAINT [FK_RolesPermisos_Roles] FOREIGN KEY([rol_id])
REFERENCES [dbo].[Roles] ([rol_id])
GO
ALTER TABLE [dbo].[RolesPermisos] CHECK CONSTRAINT [FK_RolesPermisos_Roles]
GO
ALTER TABLE [dbo].[RolesPermisosAcciones]  WITH CHECK ADD  CONSTRAINT [FK_RolesPermisosAcciones_Acciones] FOREIGN KEY([acc_id])
REFERENCES [dbo].[Acciones] ([acc_id])
GO
ALTER TABLE [dbo].[RolesPermisosAcciones] CHECK CONSTRAINT [FK_RolesPermisosAcciones_Acciones]
GO
ALTER TABLE [dbo].[RolesPermisosAcciones]  WITH CHECK ADD  CONSTRAINT [FK_RolesPermisosAcciones_RolesPermisos] FOREIGN KEY([rolperm_id])
REFERENCES [dbo].[RolesPermisos] ([rolperm_id])
GO
ALTER TABLE [dbo].[RolesPermisosAcciones] CHECK CONSTRAINT [FK_RolesPermisosAcciones_RolesPermisos]
GO
ALTER TABLE [dbo].[tipo_comprobantes]  WITH CHECK ADD  CONSTRAINT [ITIPO_COMPROBANTES1] FOREIGN KEY([fue_cod])
REFERENCES [dbo].[fuentes] ([fue_cod])
GO
ALTER TABLE [dbo].[tipo_comprobantes] CHECK CONSTRAINT [ITIPO_COMPROBANTES1]
GO
ALTER TABLE [dbo].[UsuariosRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosRoles_Roles] FOREIGN KEY([rol_id])
REFERENCES [dbo].[Roles] ([rol_id])
GO
ALTER TABLE [dbo].[UsuariosRoles] CHECK CONSTRAINT [FK_UsuariosRoles_Roles]
GO
ALTER TABLE [dbo].[UsuariosRoles]  WITH CHECK ADD  CONSTRAINT [FK_UsuariosRoles_Usuarios] FOREIGN KEY([usu_cod])
REFERENCES [dbo].[Usuarios] ([usu_cod])
GO
ALTER TABLE [dbo].[UsuariosRoles] CHECK CONSTRAINT [FK_UsuariosRoles_Usuarios]
GO
ALTER TABLE [dbo].[woo_sync_batch_logs]  WITH CHECK ADD FOREIGN KEY([log_id])
REFERENCES [dbo].[woo_sync_logs] ([id])
GO
ALTER TABLE [dbo].[articulos]  WITH CHECK ADD  CONSTRAINT [CK_articulos_art_bundle] CHECK  (([art_bundle]='N' OR [art_bundle]='S'))
GO
ALTER TABLE [dbo].[articulos] CHECK CONSTRAINT [CK_articulos_art_bundle]
GO
ALTER TABLE [dbo].[articulos]  WITH CHECK ADD  CONSTRAINT [CK_articulos_art_optimizar_ia] CHECK  (([art_optimizar_ia]='N' OR [art_optimizar_ia]='S'))
GO
ALTER TABLE [dbo].[articulos] CHECK CONSTRAINT [CK_articulos_art_optimizar_ia]
GO
ALTER TABLE [dbo].[articulos]  WITH CHECK ADD  CONSTRAINT [CK_articulos_art_tiene_contenido_ia] CHECK  (([art_tiene_contenido_ia]='N' OR [art_tiene_contenido_ia]='S'))
GO
ALTER TABLE [dbo].[articulos] CHECK CONSTRAINT [CK_articulos_art_tiene_contenido_ia]
GO
ALTER TABLE [dbo].[articulos_ai_content]  WITH CHECK ADD CHECK  (([ai_estado]='R' OR [ai_estado]='A' OR [ai_estado]='P'))
GO
ALTER TABLE [dbo].[carga_inicial_costos]  WITH CHECK ADD  CONSTRAINT [CK_carga_inicial_costos_costo_positivo] CHECK  (([cic_costo_propuesto]>=(0)))
GO
ALTER TABLE [dbo].[carga_inicial_costos] CHECK CONSTRAINT [CK_carga_inicial_costos_costo_positivo]
GO
ALTER TABLE [dbo].[carga_inicial_costos]  WITH CHECK ADD  CONSTRAINT [CK_carga_inicial_costos_estado] CHECK  (([cic_estado]='APLICADO' OR [cic_estado]='RECHAZADO' OR [cic_estado]='VALIDADO_CON_ALERTAS' OR [cic_estado]='VALIDADO' OR [cic_estado]='PENDIENTE'))
GO
ALTER TABLE [dbo].[carga_inicial_costos] CHECK CONSTRAINT [CK_carga_inicial_costos_estado]
GO
ALTER TABLE [dbo].[facturakardes]  WITH CHECK ADD  CONSTRAINT [CK_facturakardes_tiene_oferta] CHECK  (([kar_tiene_oferta]='N' OR [kar_tiene_oferta]='S'))
GO
ALTER TABLE [dbo].[facturakardes] CHECK CONSTRAINT [CK_facturakardes_tiene_oferta]
GO
ALTER TABLE [dbo].[historial_costos]  WITH CHECK ADD  CONSTRAINT [CK_historial_costos_tipo] CHECK  (([hc_tipo_mov]='AJUSTE_MANUAL' OR [hc_tipo_mov]='COMPRA' OR [hc_tipo_mov]='CARGA_INICIAL'))
GO
ALTER TABLE [dbo].[historial_costos] CHECK CONSTRAINT [CK_historial_costos_tipo]
GO
ALTER TABLE [dbo].[producto_fotos]  WITH CHECK ADD  CONSTRAINT [chk_estado] CHECK  (([estado]='error' OR [estado]='woo' OR [estado]='temp'))
GO
ALTER TABLE [dbo].[producto_fotos] CHECK CONSTRAINT [chk_estado]
GO
ALTER TABLE [dbo].[promociones_detalle]  WITH CHECK ADD  CONSTRAINT [CK_promociones_detalle_estado] CHECK  (([pro_det_estado]='I' OR [pro_det_estado]='A'))
GO
ALTER TABLE [dbo].[promociones_detalle] CHECK CONSTRAINT [CK_promociones_detalle_estado]
GO
/****** Object:  StoredProcedure [dbo].[sp_AplicarCargaInicialCostos]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AplicarCargaInicialCostos]
    @usuario VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @total_aplicados INT = 0
    DECLARE @errores INT = 0

    BEGIN TRANSACTION

    BEGIN TRY
        -- 1. Actualizar costos en articulosdetalle (lista precio 1 = detal)
        UPDATE ad
        SET ad.art_bod_cos_cat = cic.cic_costo_propuesto
        FROM dbo.articulosdetalle ad
        INNER JOIN dbo.carga_inicial_costos cic ON cic.cic_art_sec = ad.art_sec
        WHERE ad.bod_sec = '1'
          AND ad.lis_pre_cod = 1
          AND cic.cic_estado = 'VALIDADO'

        SET @total_aplicados = @@ROWCOUNT

        -- 2. Marcar como aplicado en carga_inicial_costos
        UPDATE carga_inicial_costos
        SET
            cic_estado = 'APLICADO',
            cic_fecha_validacion = GETDATE(),
            cic_usuario_validacion = @usuario
        WHERE cic_estado = 'VALIDADO'

        -- 3. Registrar en historial de costos
        INSERT INTO dbo.historial_costos (
            hc_art_sec,
            hc_fac_sec,
            hc_fecha,
            hc_tipo_mov,
            hc_cantidad_antes,
            hc_costo_antes,
            hc_valor_antes,
            hc_cantidad_mov,
            hc_costo_mov,
            hc_valor_mov,
            hc_cantidad_despues,
            hc_costo_despues,
            hc_valor_despues,
            hc_usu_cod,
            hc_observaciones
        )
        SELECT
            cic.cic_art_sec,
            NULL,  -- No hay fac_sec en carga inicial
            GETDATE(),
            'CARGA_INICIAL',
            ISNULL(ve.existencia, 0),
            0,  -- Costo antes = 0
            0,  -- Valor antes = 0
            0,  -- No es una compra, es inicialización
            cic.cic_costo_propuesto,
            0,  -- Valor movimiento = 0 (no es compra)
            ISNULL(ve.existencia, 0),
            cic.cic_costo_propuesto,
            ISNULL(ve.existencia, 0) * cic.cic_costo_propuesto,
            @usuario,
            'Carga inicial - Método: ' + ISNULL(cic.cic_metodo_calculo, 'N/A')
        FROM dbo.carga_inicial_costos cic
        LEFT JOIN dbo.vwExistencias ve ON ve.art_sec = cic.cic_art_sec
        WHERE cic.cic_estado = 'APLICADO'

        COMMIT TRANSACTION

        -- Retornar resumen
        SELECT
            @total_aplicados AS total_aplicados,
            @errores AS errores,
            'Carga inicial aplicada exitosamente' AS mensaje

        RETURN 0

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE()
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY()
        DECLARE @ErrorState INT = ERROR_STATE()

        SELECT
            0 AS total_aplicados,
            1 AS errores,
            @ErrorMessage AS mensaje;

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
        RETURN 1;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CalcularCostoPromedio]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CalcularCostoPromedio]
    @art_sec VARCHAR(30),
    @cantidad_compra DECIMAL(17,2),
    @costo_unitario_compra DECIMAL(17,2),
    @nuevo_costo_promedio DECIMAL(17,2) OUTPUT,
    @existencia_anterior DECIMAL(17,2) OUTPUT,
    @valor_inventario_anterior DECIMAL(17,2) OUTPUT,
    @mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @costo_actual DECIMAL(17,2);
    DECLARE @existencia_actual DECIMAL(17,2);
    DECLARE @valor_anterior DECIMAL(17,2);
    DECLARE @valor_compra DECIMAL(17,2);
    DECLARE @nueva_existencia DECIMAL(17,2);
    DECLARE @nuevo_valor DECIMAL(17,2);

    BEGIN TRY
        -- Validar que el artículo existe
        IF NOT EXISTS (SELECT 1 FROM dbo.articulos WHERE art_sec = @art_sec)
        BEGIN
            SET @mensaje = 'ERROR: El artículo no existe';
            RETURN -1;
        END

        -- Obtener costo actual y existencia desde historial_costos
        SELECT TOP 1
            @costo_actual = hc_costo_despues,
            @existencia_actual = hc_cantidad_despues
        FROM dbo.historial_costos
        WHERE hc_art_sec = @art_sec
        ORDER BY hc_fecha DESC;

        -- Si no hay historial, obtener de vwExistencias (primera vez)
        IF @costo_actual IS NULL
        BEGIN
            SELECT @existencia_actual = ISNULL(existencia, 0)
            FROM dbo.vwExistencias
            WHERE art_sec = @art_sec;

            SET @costo_actual = 0;
            SET @existencia_actual = ISNULL(@existencia_actual, 0);
        END

        -- Calcular valores
        SET @valor_anterior = @existencia_actual * @costo_actual;
        SET @valor_compra = @cantidad_compra * @costo_unitario_compra;
        SET @nueva_existencia = @existencia_actual + @cantidad_compra;
        SET @nuevo_valor = @valor_anterior + @valor_compra;

        -- Fórmula de Costo Promedio Ponderado
        -- Nuevo Costo = (Valor Inventario Anterior + Valor Compra) / (Existencia Anterior + Cantidad Compra)
        IF @nueva_existencia > 0
        BEGIN
            SET @nuevo_costo_promedio = @nuevo_valor / @nueva_existencia;
        END
        ELSE
        BEGIN
            SET @nuevo_costo_promedio = 0;
        END

        -- Asignar valores de salida
        SET @existencia_anterior = @existencia_actual;
        SET @valor_inventario_anterior = @valor_anterior;

        -- Mensaje de éxito con detalle del cálculo
        SET @mensaje = CONCAT(
            'Cálculo exitoso. ',
            'Existencia anterior: ', CAST(@existencia_actual AS VARCHAR(20)), ', ',
            'Costo anterior: $', CAST(@costo_actual AS VARCHAR(20)), ', ',
            'Valor anterior: $', CAST(@valor_anterior AS VARCHAR(20)), '. ',
            'Compra: ', CAST(@cantidad_compra AS VARCHAR(20)), ' x $', CAST(@costo_unitario_compra AS VARCHAR(20)),
            ' = $', CAST(@valor_compra AS VARCHAR(20)), '. ',
            'Nueva existencia: ', CAST(@nueva_existencia AS VARCHAR(20)), ', ',
            'Nuevo costo promedio: $', CAST(@nuevo_costo_promedio AS VARCHAR(20))
        );

        RETURN 0;

    END TRY
    BEGIN CATCH
        SET @mensaje = CONCAT('ERROR: ', ERROR_MESSAGE());
        RETURN -1;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_estadisticas_uso_ia]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[sp_estadisticas_uso_ia]
        @fecha_desde DATETIME = NULL,
        @fecha_hasta DATETIME = NULL
    AS
    BEGIN
        IF @fecha_desde IS NULL SET @fecha_desde = DATEADD(month, -1, GETDATE());
        IF @fecha_hasta IS NULL SET @fecha_hasta = GETDATE();

        SELECT
            ai_modelo,
            COUNT(*) as total_generaciones,
            SUM(ai_tokens_usados) as total_tokens,
            SUM(ai_costo_usd) as costo_total_usd,
            AVG(ai_tokens_usados) as promedio_tokens,
            AVG(ai_costo_usd) as promedio_costo_usd,
            SUM(CASE WHEN ai_estado = 'A' THEN 1 ELSE 0 END) as aprobados,
            SUM(CASE WHEN ai_estado = 'R' THEN 1 ELSE 0 END) as rechazados,
            SUM(CASE WHEN ai_estado = 'P' THEN 1 ELSE 0 END) as pendientes
        FROM dbo.articulos_ai_content
        WHERE ai_fecha_generacion BETWEEN @fecha_desde AND @fecha_hasta
        GROUP BY ai_modelo
        ORDER BY costo_total_usd DESC;
    END;
    
GO
/****** Object:  StoredProcedure [dbo].[sp_limpiar_versiones_ai_antiguas]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[sp_limpiar_versiones_ai_antiguas]
        @dias_mantener INT = 90
    AS
    BEGIN
        DELETE FROM dbo.articulos_ai_content
        WHERE ai_estado = 'R'
          AND ai_fecha_generacion < DATEADD(day, -@dias_mantener, GETDATE());

        SELECT @@ROWCOUNT AS registros_eliminados;
    END;
    
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarHistorialCosto]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RegistrarHistorialCosto]
    @art_sec VARCHAR(30),
    @documento_referencia VARCHAR(50),
    @tipo_movimiento VARCHAR(20),
    @cantidad_movimiento DECIMAL(17,2),
    @costo_unitario_movimiento DECIMAL(17,2),
    @nuevo_costo_promedio DECIMAL(17,2),
    @existencia_anterior DECIMAL(17,2),
    @existencia_nueva DECIMAL(17,2),
    @usuario VARCHAR(100),
    @mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @art_cod VARCHAR(30);
    DECLARE @art_nom VARCHAR(100);
    DECLARE @valor_anterior DECIMAL(17,2);
    DECLARE @valor_nuevo DECIMAL(17,2);
    DECLARE @costo_anterior DECIMAL(17,2);

    BEGIN TRY
        -- Obtener datos del artículo
        SELECT @art_cod = art_cod, @art_nom = art_nom
        FROM dbo.articulos
        WHERE art_sec = @art_sec;

        -- Obtener costo anterior del historial
        SELECT TOP 1 @costo_anterior = hc_costo_despues
        FROM dbo.historial_costos
        WHERE hc_art_sec = @art_sec
        ORDER BY hc_fecha DESC;

        SET @costo_anterior = ISNULL(@costo_anterior, 0);

        -- Calcular valores de inventario
        SET @valor_anterior = @existencia_anterior * @costo_anterior;
        SET @valor_nuevo = @existencia_nueva * @nuevo_costo_promedio;

        -- Insertar en historial usando la estructura de Fase 0
        INSERT INTO dbo.historial_costos (
            hc_art_sec,
            hc_tipo_mov,
            hc_cantidad_antes,
            hc_costo_antes,
            hc_valor_antes,
            hc_cantidad_mov,
            hc_costo_mov,
            hc_valor_mov,
            hc_cantidad_despues,
            hc_costo_despues,
            hc_valor_despues,
            hc_usu_cod,
            hc_observaciones
        ) VALUES (
            @art_sec,
            @tipo_movimiento,
            @existencia_anterior,
            @costo_anterior,
            @valor_anterior,
            @cantidad_movimiento,
            @costo_unitario_movimiento,
            @cantidad_movimiento * @costo_unitario_movimiento,
            @existencia_nueva,
            @nuevo_costo_promedio,
            @valor_nuevo,
            @usuario,
            @documento_referencia
        );

        SET @mensaje = 'Historial registrado exitosamente';
        RETURN 0;

    END TRY
    BEGIN CATCH
        SET @mensaje = CONCAT('ERROR al registrar historial: ', ERROR_MESSAGE());
        RETURN -1;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ValidarCargaInicialCostos]    Script Date: 2/17/2026 11:34:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ValidarCargaInicialCostos]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @registros_validados INT = 0
    DECLARE @registros_con_alertas INT = 0
    DECLARE @registros_rechazados INT = 0

    BEGIN TRY
        -- 1. Calcular márgenes resultantes
        UPDATE carga_inicial_costos
        SET
            cic_margen_resultante_detal = CASE
                WHEN cic_precio_venta_detal > 0
                THEN ((cic_precio_venta_detal - cic_costo_propuesto) / cic_precio_venta_detal * 100)
                ELSE NULL
            END,
            cic_margen_resultante_mayor = CASE
                WHEN cic_precio_venta_mayor > 0
                THEN ((cic_precio_venta_mayor - cic_costo_propuesto) / cic_precio_venta_mayor * 100)
                ELSE NULL
            END
        WHERE cic_estado = 'PENDIENTE'

        -- 2. Validar costos negativos (ERROR CRÍTICO)
        UPDATE carga_inicial_costos
        SET
            cic_observaciones = ISNULL(cic_observaciones, '') + ' | ERROR: Costo negativo no permitido',
            cic_estado = 'RECHAZADO'
        WHERE cic_estado = 'PENDIENTE'
          AND cic_costo_propuesto < 0

        SET @registros_rechazados = @@ROWCOUNT

        -- 3. Validar costos mayores que precio de venta (ERROR)
        UPDATE carga_inicial_costos
        SET
            cic_observaciones = ISNULL(cic_observaciones, '') + ' | ERROR: Costo mayor o igual que precio venta',
            cic_estado = 'RECHAZADO'
        WHERE cic_estado = 'PENDIENTE'
          AND cic_costo_propuesto >= cic_precio_venta_detal
          AND cic_costo_propuesto > 0  -- Excluir costos cero (muestras)

        SET @registros_rechazados = @registros_rechazados + @@ROWCOUNT

        -- 4. Validar márgenes muy bajos (ALERTA)
        UPDATE carga_inicial_costos
        SET
            cic_observaciones = ISNULL(cic_observaciones, '') + ' | ALERTA: Margen muy bajo (<20%)',
            cic_estado = 'VALIDADO_CON_ALERTAS'
        WHERE cic_estado = 'PENDIENTE'
          AND cic_margen_resultante_detal < 20
          AND cic_costo_propuesto > 0

        SET @registros_con_alertas = @@ROWCOUNT

        -- 5. Aprobar costos normales
        UPDATE carga_inicial_costos
        SET cic_estado = 'VALIDADO'
        WHERE cic_estado = 'PENDIENTE'
          AND (
              (cic_margen_resultante_detal >= 20 AND cic_costo_propuesto < cic_precio_venta_detal)
              OR cic_costo_propuesto = 0  -- Permitir muestras gratis
          )

        SET @registros_validados = @@ROWCOUNT

        -- Retornar resumen
        SELECT
            @registros_validados AS registros_validados,
            @registros_con_alertas AS registros_con_alertas,
            @registros_rechazados AS registros_rechazados,
            (@registros_validados + @registros_con_alertas + @registros_rechazados) AS total_procesados

        RETURN 0

    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE()
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY()
        DECLARE @ErrorState INT = ERROR_STATE()

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
        RETURN 1;
    END CATCH
END;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Monto mínimo que debe cumplir una compra para obtener el descuento al mayor' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'eventos_promocionales', @level2type=N'COLUMN',@level2name=N'eve_monto_mayorista_minimo'
GO
